/* Responsive Desktop (+ de 1101px)*/
@media screen and (min-width: 1101px){
    
    /* Explorer */
    .btn-explorer{
        width: 300px;
    }
    /* Fonctionnement */
    .fonct{
        height: 120px;
        padding: 10px 0 10px 0;
        &__titre{
            display: flex;
            justify-content: space-around;
            height: 20%;
            padding-left: 0;
        }
        &__group{
            flex-direction: row;
            .step{
                width: 260px;
                height: 70%;
                p{
                    font-size: 15px;
                }
            }
        }
    }
    /* nav */
    .resto{
        flex-direction: row;
        flex-wrap: wrap;
        height: 580px;
        &__titre{
            margin-top: -30px;
            display: flex;
            justify-content: space-around;
            padding-left: 0;
        }
        &__annonce{
            width: 40%;
            height: 40%;
        }
    }
    // .resto{
        // flex-direction: row;
        // flex-wrap: wrap;
        // height: 280px;
        // &__titre{
        //     margin-top: -30px;
        //     display: flex;
        //     justify-content: space-around;
        //     padding-left: 0;
        // }
        // &__annonce{
        //     width: 20%;
        //     height: 90%;
        // }
    // }
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
        &__titre{
            display: flex;
            align-items: center;
            height: 80%;
            width: 25%;
            h2{
                font-size: 35px; 
            }
        }
    }

    /* Page Menu*/
    .module-img{
        &__photo{
            display: flex;
            max-width: 100%;
            max-height: none;
        }
    }
    .block-menu{
        flex-direction: row;
        flex-wrap: wrap;
        height: 500px;
        padding-bottom: 20px;
    }
    .food{
        width: 30%;
        height: 72%;
        &__selection{
            height: 22%;
        }
    }
    .variation{
        &__food--1{
            &__selection{
                height: 19%;
            }
        }
    }
}