@charset "UTF-8";
/* Fonts */
@font-face {
  font-family: 'Shrikhand';
  src: url("fonts/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
/* body */
body {
  overflow-x: hidden;
  margin: 0px;
  font-family: 'roboto', Impact, 'Arial Narrow Bold', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 18px;
  color: #525050;
}

h3 {
  font-size: 17px;
  color: #636262;
}

.flexAroundCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexBetweenCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  width: 40px;
}

/* header */
.header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 65px;
}

.header__link {
  width: 50px;
}

.header__link__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 20px;
  color: #272626;
}

.header__bloc {
  height: 95%;
  width: 100%;
}

.header__bloc__logo {
  max-height: 30px;
  margin-left: -52px;
}

/* Explorer */
.explorer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explorer__pbv {
  background-color: #e6e6e6;
  width: 100%;
}

.explorer__pbv .icon {
  width: 40px;
}

.explorer__pbv .icon__map {
  color: rgba(49, 49, 49, 0.877);
  font-size: 20px;
}

.explorer__reservez {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0f0f0;
  width: 100%;
  padding: 25px 0px 60px 0px;
}

.explorer__reservez--text1 {
  text-align: center;
  color: black;
  height: 80px;
  width: 75%;
  margin: 0px 60px 0px 60px;
}

.explorer__reservez--text2 {
  text-align: center;
  color: gray;
  margin: 0px 40px 0px 40px;
  height: 60px;
  width: 90%;
}

.btn-explorer {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 6px 8px #918f8f;
          box-shadow: 0px 6px 8px #918f8f;
  text-shadow: 1px 1px 10px #918f8f;
  font-size: 17px;
  color: white;
  width: 58%;
  height: 55px;
  border-radius: 30px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.btn-explorer:hover {
  border-radius: 30px;
  -webkit-box-shadow: 0px 6px 12px #918f8f;
          box-shadow: 0px 6px 12px #918f8f;
  background: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
  background: linear-gradient(360deg, #a16be0, #ff93e1);
}

/* Fonctionnement */
.fonct {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
  padding: 25px 0 30px 0;
}

.fonct__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  height: 15%;
  padding-left: 30px;
}

.fonct__titre--modH2 {
  color: black;
  font-size: 24px;
}

.fonct__group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 74%;
}

.fonct__group .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  -webkit-box-shadow: 1px 1px 10px #bbbbbb;
          box-shadow: 1px 1px 10px #bbbbbb;
  border-radius: 20px;
  width: 85%;
  height: 22%;
}

.fonct__group .step__num {
  color: white;
  width: 20px;
  margin-left: -12px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 30px;
}

.fonct__group .step__icon {
  font-size: 18px;
  color: gray;
}

.fonct__group .step__icon--purple {
  color: #9356DC;
}

/* Nav */
.resto {
  background-color: #f0f0f0;
  padding: 30px 0 50px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 1100px;
}

.resto__titre {
  color: black;
  font-size: 24px;
  width: 90%;
  height: 40px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 23px;
}

.resto__annonce {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 10px #b8b6b6;
          box-shadow: 1px 1px 10px #b8b6b6;
  width: 90%;
  height: 22%;
  background-color: white;
}

.resto__annonce__photo {
  height: 68%;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.resto__annonce__photo .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.resto__annonce__photo .img--mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: -19px;
}

.resto__annonce__photo .img-nouveau {
  margin-left: -130px;
  margin-top: -90px;
  height: 30px;
  width: 70px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  color: #0f885a;
}

.resto__annonce__bot {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 88%;
  height: 28%;
  padding: 0 20px 0 5px;
}

.resto__annonce__bot p {
  font-weight: bold;
}

.like {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
}

.like__logocoeur {
  font-size: 25px;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  -webkit-transition-duration: 650ms;
          transition-duration: 650ms;
}

.like__logocoeur:hover {
  color: transparent;
}

.like__logocoeur:hover + .like__logocoeur--full {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.like__logocoeur--full {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  position: absolute;
  z-index: 1;
}

.resto-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 75%;
}

.resto-text__titre {
  height: 45%;
  font-weight: bold;
  font-size: 17px;
}

.resto-text__lieu {
  height: 45%;
}

/* Footer */
.footer {
  height: 195px;
  background-color: #3a3a3a;
  width: 100%;
}

.footer__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shrikhand';
  height: 28%;
  padding-left: 30px;
}

.footer__titre h2 {
  color: white;
  font-size: 20px;
}

.footer__text {
  font-family: 'roboto', Impact, 'Arial Narrow Bold', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 60%;
  color: white;
  padding-left: 30px;
}

.footer__text__contact {
  color: white;
}

/* Page des Restaurants */
/* Section Menu */
.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.module-img {
  height: 280px;
  overflow: hidden;
}

.module-img__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
}

.module-img__photo--version2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: none;
}

.block-menu {
  background-color: #f3f3f3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1150px;
  width: 100%;
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.block-menu__nom-resto {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 4%;
  font-family: 'Shrikhand';
  font-size: 30px;
}

.block-menu__nom-resto .logocoeur {
  font-size: 23px;
  margin-right: 10px;
}

.block-menu .btn-command {
  border: 1px solid #9356DC;
  width: 90%;
  height: 4%;
}

.food {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 26%;
}

.food__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 5px;
  height: 8%;
  width: 100%;
}

.food__titre__surligne {
  height: 3px;
  width: 45px;
  background-color: #99E2D0;
  margin-bottom: -5px;
}

.food__selection {
  background-color: white;
  height: 23%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 10px lightgray;
          box-shadow: 1px 1px 10px lightgray;
  overflow: hidden;
}

.food__selection .selection-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
  width: 80%;
  padding-left: 12px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: width 400ms linear;
  transition: width 400ms linear;
}

.food__selection .selection-text--1 {
  height: 40%;
  font-weight: bold;
  font-size: 17px;
}

.food__selection .selection-text--2 {
  height: 40%;
  font-size: 14px;
}

.food__selection .selection-prix {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 65%;
  width: 20%;
  text-align: end;
  font-weight: bold;
  -webkit-transition: -webkit-transform 400ms linear;
  transition: -webkit-transform 400ms linear;
  transition: transform 400ms linear;
  transition: transform 400ms linear, -webkit-transform 400ms linear;
}

.food__selection:hover > .selection-text {
  width: 60%;
}

.food__selection:hover > .selection-prix {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.food__selection:hover > .button-select {
  -webkit-transform: translateX(-99%);
          transform: translateX(-99%);
}

.food__selection:hover > .button-select > .button-select__check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.food__selection .button-select {
  border: 3px solid #99E2D0;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 18%;
  margin-right: -20%;
  -webkit-transition: -webkit-transform 400ms linear;
  transition: -webkit-transform 400ms linear;
  transition: transform 400ms linear;
  transition: transform 400ms linear, -webkit-transform 400ms linear;
}

.food__selection .button-select__check {
  color: #99E2D0;
  background-color: white;
  font-size: 18px;
  border: 3px solid white;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.hide-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Variante bloc menu pour la page "La note enchantée" */
.variation {
  height: 1231px;
}

.variation__nom-resto {
  height: 46px;
}

.variation__food--1 {
  height: 380px;
}

.variation__food--1__titre {
  height: 29px;
}

.variation__food--1__selection {
  height: 68px;
}

.variation__food--2 {
  height: 299px;
}

/* selecteurs et animation d'arrivée d'un menu */
.appear__item1 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
}

.appear__item2 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.appear__item3 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.appear__item4 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.appear__item5 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.appear__item6 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.appear__item7 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.appear__item8 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.appear__item9 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.appear__item10 {
  -webkit-animation: appear 500ms both;
          animation: appear 500ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    margin-bottom: -15px;
  }
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    margin-bottom: -15px;
  }
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

/* Loading Spinner */
.hide-spin {
  height: 100vh;
  -webkit-animation: hideSpin 2000ms forwards;
          animation: hideSpin 2000ms forwards;
  overflow-x: hidden;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  -webkit-animation: loading 2000ms forwards;
          animation: loading 2000ms forwards;
}

.loading__spinner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.loading__spinner__anim {
  color: #9356DC;
  font-size: 60px;
  -webkit-animation: loadingSpinner 1000ms 300ms linear both infinite;
          animation: loadingSpinner 1000ms 300ms linear both infinite;
}

.loading__spinner__anim:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes hideSpin {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: scroll;
  }
}

@keyframes hideSpin {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: scroll;
  }
}

@-webkit-keyframes loading {
  from {
    opacity: 1;
    z-index: 3;
  }
  90% {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -5;
  }
}

@keyframes loading {
  from {
    opacity: 1;
    z-index: 3;
  }
  90% {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -5;
  }
}

@-webkit-keyframes loadingSpinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    color: #9356DC;
  }
  30% {
    color: #FF79DA;
  }
  70% {
    color: #99E2D0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #9356DC;
  }
}

@keyframes loadingSpinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    color: #9356DC;
  }
  30% {
    color: #FF79DA;
  }
  70% {
    color: #99E2D0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #9356DC;
  }
}

@media screen and (min-width: 415px) and (max-width: 529px) {
  .module-img {
    height: 280px;
    overflow: hidden;
  }
  .module-img__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow: hidden;
    max-height: none;
  }
  .module-img__photo--version2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    max-height: none;
  }
}

/* Responsive mini tablette (entre 530 et 899px) */
@media screen and (min-width: 530px) and (max-width: 899px) {
  /* Explorer */
  .explorer__reservez {
    padding: 10px 0px 20px 0px;
  }
  .btn-explorer {
    width: 300px;
  }
  /* Fonctionnement */
  .fonct {
    height: 120px;
    padding: 10px 0 10px 0;
  }
  .fonct__titre {
    height: 10%;
    padding-left: 95px;
  }
  .fonct__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonct__group .step {
    width: 25%;
    height: 70%;
  }
  .fonct__group .step p {
    font-size: 15px;
  }
  /* Nav */
  .resto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 580px;
  }
  .resto__annonce {
    width: 45%;
    height: 40%;
  }
  /* Footer */
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .footer__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
    width: 40%;
    padding-left: 2px;
  }
  .footer__titre h2 {
    font-size: 35px;
  }
  .footer__text {
    padding-left: 2px;
  }
  /* Page Menu*/
  .module-img__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    max-height: none;
  }
  .food {
    width: 75%;
  }
  .variation__food--1__selection {
    height: 19%;
  }
}

/* Responsive Tablette (entre 900 et 1100px) */
@media screen and (min-width: 900px) and (max-width: 1100px) {
  /* Explorer */
  .explorer__reservez {
    padding: 10px 0px 20px 0px;
  }
  .btn-explorer {
    width: 300px;
  }
  /* Fonctionnement */
  .fonct {
    height: 120px;
    padding: 10px 0 10px 0;
  }
  .fonct__titre {
    height: 10%;
    padding-left: 95px;
  }
  .fonct__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonct__group .step {
    width: 25%;
    height: 70%;
  }
  .fonct__group .step p {
    font-size: 15px;
  }
  /* Nav */
  .resto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 580px;
  }
  .resto__annonce {
    width: 45%;
    height: 40%;
  }
  /* Footer */
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .footer__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
    width: 25%;
  }
  .footer__titre h2 {
    font-size: 35px;
  }
  /* Page Menu*/
  .module-img__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    max-height: none;
  }
  .block-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 500px;
    padding-bottom: 20px;
  }
  .food {
    width: 30%;
    height: 72%;
  }
  .food__selection {
    height: 22%;
  }
  .variation__food--1__selection {
    height: 19%;
  }
}

/* Responsive Desktop (+ de 1101px) */
@media screen and (min-width: 1101px) {
  /* Explorer */
  .btn-explorer {
    width: 300px;
  }
  /* Fonctionnement */
  .fonct {
    height: 120px;
    padding: 10px 0 10px 0;
  }
  .fonct__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 20%;
    padding-left: 0;
  }
  .fonct__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonct__group .step {
    width: 260px;
    height: 70%;
  }
  .fonct__group .step p {
    font-size: 15px;
  }
  /* nav */
  .resto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 580px;
  }
  .resto__titre {
    margin-top: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 0;
  }
  .resto__annonce {
    width: 40%;
    height: 40%;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .footer__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
    width: 25%;
  }
  .footer__titre h2 {
    font-size: 35px;
  }
  /* Page Menu*/
  .module-img__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    max-height: none;
  }
  .block-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 500px;
    padding-bottom: 20px;
  }
  .food {
    width: 30%;
    height: 72%;
  }
  .food__selection {
    height: 22%;
  }
  .variation__food--1__selection {
    height: 19%;
  }
}
/*# sourceMappingURL=styles.css.map */