@charset "UTF-8";
/* Fonts */
@font-face {
  font-family: 'Shrikhand';
  src: url("fonts/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
/* body */
body {
  margin: 0px;
  font-family: 'roboto', Impact, 'Arial Narrow Bold', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 24px;
  text-shadow: 1px 1px 0px black;
  color: #2c2b2b;
}

h3 {
  font-size: 17px;
  color: #636262;
}

.flexAroundCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexBetweenCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  width: 40px;
}

/* header */
.header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 65px;
}

.header__link {
  width: 15%;
}

.header__link__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 20px;
  color: #272626;
}

.header__bloc {
  height: 95%;
  width: 84%;
}

.header__bloc__logo {
  max-height: 30px;
  margin-left: -52px;
}

/* Explorer */
.explorer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explorer__pbv {
  background-color: #e6e6e6;
  width: 100%;
}

.explorer__pbv .icon {
  width: 40px;
}

.explorer__pbv .icon__map {
  color: rgba(49, 49, 49, 0.877);
  font-size: 20px;
}

.explorer__reservez {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0f0f0;
  width: 100%;
  padding: 25px 0px 60px 0px;
}

.explorer__reservez--text1 {
  text-align: center;
  color: black;
  height: 80px;
  width: 75%;
  margin: 0px 60px 0px 60px;
}

.explorer__reservez--text2 {
  text-align: center;
  color: gray;
  margin: 0px 40px 0px 40px;
  height: 60px;
  width: 90%;
}

.btn-explorer {
  background-color: #9356DC;
  -webkit-box-shadow: 1px 1px 10px #918f8f;
          box-shadow: 1px 1px 10px #918f8f;
  text-shadow: 1px 1px 10px #918f8f;
  font-size: 17px;
  color: white;
  width: 58%;
  height: 55px;
  border-radius: 30px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.btn-explorer:hover {
  border-radius: 30px;
  -webkit-box-shadow: 2px 0px 10px #0f0f0f;
          box-shadow: 2px 0px 10px #0f0f0f;
}

.btn-explorer:hover::after {
  border-radius: 30px;
  opacity: 1;
}

.btn-explorer::after {
  border-radius: 30px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #ff93e1 0%, #ff46cc 100%);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
}

/* Fonctionnement */
.fonct {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
  padding: 25px 0 30px 0;
}

.fonct__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  height: 15%;
  padding-left: 30px;
}

.fonct__group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 74%;
}

.fonct__group .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  -webkit-box-shadow: 1px 1px 10px #bbbbbb;
          box-shadow: 1px 1px 10px #bbbbbb;
  border-radius: 20px;
  width: 85%;
  height: 22%;
}

.fonct__group .step__num {
  color: white;
  width: 20px;
  margin-left: -12px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 30px;
}

.fonct__group .step__icon {
  font-size: 18px;
  color: gray;
}

.fonct__group .step__icon--purple {
  color: #9356DC;
}

.fonct__group .step p {
  font-weight: bold;
}

/* Nav */
.resto {
  background-color: #f0f0f0;
  padding: 30px 0 50px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 1100px;
}

.resto__titre {
  width: 90%;
  height: 40px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 23px;
  text-shadow: 1px 1px 1px gray;
}

.resto__annonce {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 10px #b8b6b6;
          box-shadow: 1px 1px 10px #b8b6b6;
  width: 90%;
  height: 22%;
  background-color: white;
}

.resto__annonce__photo {
  height: 68%;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.resto__annonce__photo .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.resto__annonce__bot {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 88%;
  height: 28%;
  padding: 0 20px 0 5px;
}

.resto__annonce__bot .logocoeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 25px;
}

.resto__annonce__bot .logocoeur:hover {
  color: #9356DC;
}

.resto__annonce__bot .logocoeur:hover + .logocoeur--full {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.resto__annonce__bot .logocoeur--full {
  color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 22px;
  margin-top: -23px;
  margin-left: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.resto__annonce__bot p {
  font-weight: bold;
}

.resto-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 75%;
}

.resto-text__titre {
  height: 45%;
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
  font-size: 17px;
}

.resto-text__lieu {
  height: 45%;
}

/* Footer */
.footer {
  height: 195px;
  background-color: #3a3a3a;
  width: 100%;
}

.footer__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shrikhand';
  height: 28%;
  padding-left: 30px;
}

.footer__titre h2 {
  color: white;
  font-size: 18px;
}

.footer__text {
  font-family: 'roboto', Impact, 'Arial Narrow Bold', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 60%;
  color: white;
  padding-left: 30px;
}

.footer__text__contact {
  color: white;
}

/* Page des Restaurants */
/* Section Menu */
.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.module-img {
  height: 280px;
  overflow: hidden;
}

.module-img__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
}

.module-img__photo--version2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: none;
}

.block-menu {
  background-color: #f3f3f3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1150px;
  width: 100%;
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.block-menu__nom-resto {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 4%;
  font-family: 'Shrikhand';
  font-size: 30px;
}

.block-menu__nom-resto .logocoeur {
  font-size: 23px;
  margin-right: 10px;
}

.block-menu .btn-command {
  border: 1px solid #9356DC;
  width: 90%;
  height: 4%;
}

.food {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 26%;
}

.food__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 5px;
  height: 8%;
  width: 100%;
  text-shadow: 1px 1px 1px gray;
}

.food__titre__surligne {
  height: 3px;
  width: 45px;
  background-color: #99E2D0;
  margin-bottom: -5px;
}

.food__selection {
  background-color: white;
  height: 23%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 10px #dadada;
          box-shadow: 1px 1px 10px #dadada;
  overflow: hidden;
}

.food__selection .selection-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
  width: 80%;
  padding-left: 12px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: width 400ms linear;
  transition: width 400ms linear;
}

.food__selection .selection-text--1 {
  height: 40%;
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
  font-size: 17px;
}

.food__selection .selection-text--2 {
  height: 40%;
  font-size: 14px;
  text-shadow: 1px 1px 2px #c5c5c5;
}

.food__selection .selection-prix {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 65%;
  width: 20%;
  text-align: end;
  font-weight: bold;
  -webkit-transition: -webkit-transform 400ms linear;
  transition: -webkit-transform 400ms linear;
  transition: transform 400ms linear;
  transition: transform 400ms linear, -webkit-transform 400ms linear;
}

.food__selection:hover > .selection-text {
  width: 60%;
}

.food__selection:hover > .selection-prix {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.food__selection:hover > .button-select {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.food__selection:hover > .button-select > .button-select__check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.food__selection .button-select {
  border: 3px solid #99E2D0;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 18%;
  margin-right: -20%;
  -webkit-transition: -webkit-transform 400ms linear;
  transition: -webkit-transform 400ms linear;
  transition: transform 400ms linear;
  transition: transform 400ms linear, -webkit-transform 400ms linear;
}

.food__selection .button-select__check {
  color: #99E2D0;
  background-color: white;
  font-size: 18px;
  border: 3px solid white;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.hide-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* selecteurs et animation d'arrivée d'un menu */
.appear__item1 {
  -webkit-animation: appear 400ms both;
          animation: appear 400ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
}

.appear__item2 {
  -webkit-animation: appear 400ms both;
          animation: appear 400ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 125ms;
          animation-delay: 125ms;
}

.appear__item3 {
  -webkit-animation: appear 400ms both;
          animation: appear 400ms both;
  -webkit-animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
          animation-timing-function: cubic-bezier(0.34, 0.08, 0.2, 0.99);
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    margin-bottom: -15px;
  }
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    margin-bottom: -15px;
  }
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

/* Loading Spinner V.2 (total = 2250px)*/
.hide-spin {
  height: 100vh;
  -webkit-animation: hideSpin 1s forwards;
          animation: hideSpin 1s forwards;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  -webkit-animation: loading 1s forwards;
          animation: loading 1s forwards;
}

.loading__spinner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.loading__spinner__anim {
  color: #9356DC;
  font-size: 60px;
  -webkit-animation: loadingSpinner 1000ms 300ms linear both infinite;
          animation: loadingSpinner 1000ms 300ms linear both infinite;
}

.loading__spinner__anim:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes hideSpin {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: scroll;
  }
}

@keyframes hideSpin {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: scroll;
  }
}

@-webkit-keyframes loading {
  from {
    opacity: 1;
    z-index: 3;
  }
  90% {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -5;
  }
}

@keyframes loading {
  from {
    opacity: 1;
    z-index: 3;
  }
  90% {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -5;
  }
}

@-webkit-keyframes loadingSpinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    color: #9356DC;
  }
  30% {
    color: #FF79DA;
  }
  70% {
    color: #99E2D0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #9356DC;
  }
}

@keyframes loadingSpinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    color: #9356DC;
  }
  30% {
    color: #FF79DA;
  }
  70% {
    color: #99E2D0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #9356DC;
  }
}
/*# sourceMappingURL=styles.css.map */