/*
Couleurs:
Primaire: #9356DC
Secondaire: #FF79DA
Tertiare: 99E2D0

Polices:
Logo et titres: Shrikhand
Texte: Roboto



 Body */
body{
    color: white;
}

/* Explorer */
.explorer{
    color: white;
}

/* Fonctionnement */
.fonctionnement{
    color: white;
}

/* Nav */
nav{
    color: white;
}

/* Footer */
footer{
    color: white;
}